<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/templates/admin/css/admin.css" />


        <!--
        <link rel="stylesheet" media="screen and (max-width: 770px)" type="text/css" href="/css/mobile.css">
        <link rel="stylesheet" media="screen and (min-width: 770px) and (max-width: 992px)" type="text/css" href="/css/tablet.css">
        <link media="screen and (min-width: 992px)" rel="stylesheet" type="text/css" href="/css/desktop.css">
        -->


        <script src="//code.jquery.com/jquery-latest.min.js"></script>
        <script src="/templates/admin/js/navigation.js"></script>
        <script src="/templates/admin/js/crud-admin.js"></script>
    <title>{{ menu }}</title>
    <script>
        $(document).ready(function () {
            $("#users-show").navigation();
            $("#publications-show").navigation();
            $("#tags-show").navigation();

            // process the event via delegation-like buttons for deleting and editing output data
            // have been created dynamically and therefore, the usual way to hurt the worker on them will not work out,
            // so the worker hangs on the glittering ancestor of an element that was not created dynamically
            // (it is possible on the body, but it is more expedient to cling to the bright parent),
            // and then in the crudAdmin function, hang the mouse click event and we make this event to the descendant
            // created dynamically (this.on ("click", ".edit-row", function () {...})
            // also in the middle of the processor this is the very descendant whom the delegate delegated to the event
            $(".content").crudAdmin();

        });
    </script>
    {# defined - checks whether a param variable is specified
            if so, then it means not Ajax and we deduce the entire list of entity,
            then check if id is the specified action (action == 'edit')
            then we call $ (document) .crudAdmin ('{{id}}') (passing the id parameter of the element for processing).
            If there is no param, we simply output the template
    #}
    {% if param is defined %}
    {# do something #}
    <script>
    $(document).ready(function () {
       // $(document).navigation('width');
        $(document).navigation(JSON.parse("{{param|e('js')}}"), '{{menu}}');
      });
    </script>
       {% if id is defined and action == 'edit' %}
       {# do something #}
       <script>
           $(document).ready(function () {
              $(document).crudAdmin('{{id}}');
        });
    </script>
    {% endif %}
       {% endif %}
</head>
<body>
<div class="main" >
<div class="menu" >
    <a href="/admin"> Головна стр</a><br>
    <!--<a id="admin-users-show" href="javascript:void(0)" > Користувачі </a><br>-->
    <a id="users-show" href="javascript:void(0)" > Користувачі </a><br>
    <a id="publications-show" href="javascript:void(0)" > Публікаціїї </a><br>
    <a id="tags-show" href="javascript:void(0)" > Теги </a><br>
    <a id="users-add-roles" href="/admin/add-roles"> додадати роль </a>"><br>
</div>
<div class="content">



    <!--
    <H1>{{ menu }}</H1>
    {% if menu =="NEWS" %}
    {% include 'news.html' %}
    {% elseif menu =="add-roles" %}
    {% include 'add-roles.html' %}
    {% endif %} -->
</div>
<div class="user">
    {{ menu }}
</div>
</div>
</body>
</html>
